
<footer class="py-3 my-4 border-top fixed-bottom">
    <div class="container my-1">
        <p class="text-center text-body-secondary">
            <i class="material-icons md-auto icon-align">home</i>
                &copy; 2024 iBiblio</p>
    </div>
</footer>
