<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">COMPANY</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/search">Wyszukaj<i class="material-icons md-auto right">search</i></a></li>
            <li><a href="/about">O nas <i class="material-icons md-auto right">groups</i></a></li>
            <li><a href="/contact">Kontakt <i class="material-icons md-auto right">contact_support</i></a></li>
        </ul>
        <div id="nav-mobile" class="sidenav">
            <button class="btn-close waves-effect waves-light right" onclick="closeSideNav()"><i class="material-icons md-36">close</i></button>
        <ul>
            <li><a href="/search">Wyszukaj<i class="material-icons md-auto">search</i></a></li>
            <li><a href="/about">O nas<i class="material-icons md-auto">groups</i></a></li>
            <li><a href="/contact">Kontakt <i class="material-icons md-auto">contact_support</i></a></li>
        </ul>
        </div>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>