<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/add-book.css">
</head>
<body class="d-flex flex-column">
<%- include('./components/nav.ejs') %>
<main>
<div class="container-sm py-5">
    <div class="col py-2 px-2 border border-dark-subtle bg-platinium">
    <div class="row mb-4"><h1>Dodaj książkę</h1></div>
<form method="post" action="/books/add" class="row">
    <div class="col col-lg-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons md-auto">title</i></span>
            <input type="text" class="form-control" placeholder="Tytuł" aria-label="Title" aria-describedby="basic-addon1" name="title" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><i class="material-icons md-auto">person</i></span>
            <input type="text" class="form-control" placeholder="Autor" aria-label="Author" aria-describedby="basic-addon2" name="author" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"><i class="material-icons md-auto">calendar_month</i></span>
            <input type="date" class="form-control" placeholder="Data opublikowania" aria-label="publishedDate" aria-describedby="basic-addon3" name="publishedDate" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4"><i class="material-icons md-auto">category</i></span>
            <input type="text" class="form-control" placeholder="Gatunek" aria-label="Genre" aria-describedby="basic-addon4" name="genre" list="datalistOptions" required>
            <datalist id="datalistOptions">
<!--                <option value="Historyczna">-->
<!--                <option value="Powieść literacka">-->
<!--                <option value="Fantastyka">-->
<!--                <option value="Kryminał/thriller">-->
            </datalist>
        </div>
    </div>
    <div class="col font-size-20">
        <button class="btn-custom-green" type="submit">Dodaj nową książkę</button>
    </div>
</form>
</div>
</div>
    <%if (locals.is_added) { %>

        <div class="toast-container position-fixed top-50 end-0 p-3">
            <div id="liveToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
                <div class="toast-header">
                    <i class="material-icons md-auto mx-1">add</i>
                    <strong class="me-auto">iBiblio</strong>
                    <small>przed chwilą..</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Dodano nową książkę!
                </div>
            </div>
        </div>

    <% } %>

</main>
<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
<script src="/javascripts/add-book.js"></script>
</body>
</html>