<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <%- include('./components/nav.ejs') %>

    <main>

      <div id="myCarousel" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container">
              <div class="carousel-caption text-start">
                <h1>iBiblio</h1>
                <p>Twoja domowa biblioteka</p>
                <p><a class="btn-custom-green" href="/profile">Przeglądaj przeczytane książki</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="container">
              <div class="carousel-caption">
                <h1>Zacznij czytać już dziś!</h1>
                <p>Wyszukaj książki</p>
                <p><a class="btn-custom-green" href="/books/search">Wyszukaj</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Dodaj swoje ksiązki do katalogu</h1>
                <p>Za pomocą formularza</p>
                <p><a class="btn-custom-green" href="/books/add">Dodaj</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




      <div class="container top-books">


        <hr class="books-divider">

        <div class="row book">
          <div class="col-md-7 book-desc my-2">
            <h2 class="featurette-heading">Witamy w iBiblio, <span class="text-muted">naszej aplikacji webowej,</span></h2>
            <p class="lead">która pomoże Ci uporządkować Twoją domową bibliotekę książek. Z łatwością dodasz nowe pozycje.</p>
          </div>
          <div class="col-md-5">
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
                <img src="/images/welcome-sign.jpg" alt="welcome-sign" class="img-fluid mx-auto">
          </div>
        </div>

        <hr class="books-divider">

        <div class="row book">
          <div class="col-md-7 order-md-2 book-desc my-2">
            <h2 class="featurette-heading">iBiblio to idealne rozwiązanie dla <span class="text-muted">Miłośników książek</span></h2>
            <p class="lead">Każdy, kto chce uporządkować swoją kolekcję książek i mieć do niej łatwy dostęp</p>
          </div>
          <div class="col-md-5 order-md-1">
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
            <img src="/images/book-hearth.jpg" alt="book-hearth"  class="img-fluid mx-auto">
          </div>
        </div>

        <hr class="books-divider">

        <div class="row book">
          <div class="col-md-7 book-desc my-2">
            <h2 class="featurette-heading">Cytaty <span class="text-muted">o książkach</span></h2>
            <p class="lead">"Czytanie to najlepszy sposób na ucieczkę od rzeczywistości." - J.K. Rowling</p>
            <p class="lead">"Książki są jak narkotyki. Im więcej ich czytasz, tym więcej ich potrzebujesz." - John Waters</p>
          </div>
          <div class="col-md-5">
<!--            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
            <img src="/images/quotes.jpg" alt="quotes" class="img-fluid mx-auto">
          </div>
        </div>

      </div>


    </main>
    <%- include('./components/footer.ejs') %>
    <%- include('./components/scripts.ejs') %>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
