<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <%- include('./components/nav.ejs') %>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">iBiblio</h1>
          <div class="row center">
            <h5 class="header col s12 light">Twoja Biblioteka książek</h5>
          </div>
          <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Zarejstruj się</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
      <h2 class="center blue-grey-text">Najchętniej czytane książki</h2>
      <div class="carousel carousel-slider center" id="carousel-main">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2" onclick="prevItem()">Przesuń w lewo</a>
          <a class="btn waves-effect white grey-text darken-text-2" onclick="nextItem()">Przesuń w prawo</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>Book title</h2>
          <p class="white-text">Short book description</p>
          <img src="/images/background1.jpg" alt="xx">
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="material-icons">search</i></h2>
              <h5 class="center">Wyszukiwanie</h5>

              <p class="light">Sekcja "Wyszukiwanie książek" umożliwia szybkie i wygodne przeszukiwanie bogatego katalogu
                bibliotecznego. Dzięki naszemu zaawansowanemu systemowi wyszukiwania, użytkownicy mogą łatwo znaleźć
                interesujące ich tytuły, autorów czy kategorie książek, zapewniając szybki dostęp do potrzebnych zasobów.</p>
            </div>
          </div>

          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="material-icons">groups</i></h2>
              <h5 class="center">O Nas</h5>

              <p class="light">
                Sekcja "O nas" przedstawia iBiblio jako innowacyjną platformę, której celem jest ułatwienie dostępu do
                wiedzy poprzez nowoczesne rozwiązania technologiczne. Nasza aplikacja powstała z myślą o zapewnieniu
                użytkownikom łatwego dostępu do bogatych zasobów bibliotecznych, zachęcając do czytania i poszerzania
                horyzontów intelektualnych</p>
            </div>
          </div>

          <div class="col s12 l4">
            <div class="icon-block">
              <h2 class="center blue-grey-text"><i class="material-icons">contact_support</i></h2>
              <h5 class="center">Kontakt</h5>

              <p class="light">Sekcja "Kontakt" umożliwia użytkownikom skontaktowanie
                się z działem obsługi w razie pytań, sugestii lub problemów technicznych.
                Poprzez prosty formularz kontaktowy, użytkownicy mogą łatwo przekazać swoje wiadomości, co
                pozwala nam szybko i skutecznie odpowiadać na ich potrzeby oraz zapewniać wysoką jakość obsługi.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>




    <%- include('./components/footer.ejs') %>
    <%- include('./components/scripts.ejs') %>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
