<!doctype html>
<html lang="pl">
<head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">

</head>
<body class="d-flex flex-column">
<%- include('./components/nav.ejs') %>
<main>
    <div class="container-lg">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card mb-4" style="background-color: #424242">
                        <div class="card-body text-center">
                            <img src="/images/man-user-circle-icon.png" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3 text-white">Twój profil</h5>
                            <p class="text-white mb-1">Dotychczas przeczytano:</p>
                            <p class="text-white mb-4" id="totalBooksNumber">0</p>

                        </div>
                    </div>

            <div class="row">
                <div class="accordion animate flip" id="accordionPanel">
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</main>


<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
<script src="/javascripts/profile.js"></script>
</body>
</html>