<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
</head>
<body>
<%- include('./components/nav.ejs') %>
<main>
<div class="container-md my-3 pt-3">
    <div class="col">
            <form method="get" class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons md-auto">search</i></span>
                <input id="search-input" type="text" class="form-control form-control-lg" placeholder="Wyszukiwanie..." aria-label="search" aria-describedby="basic-addon1">
            </div>
            </form>
        <div class="d-flex justify-content-center flex-wrap my-3 gap-3" id="search-listing"></div>
    </div>
</div>
</main>


<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
<script src="/javascripts/search.js"></script>
</body>
</html>