<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>
<body class="d-flex flex-column">
<%- include('./components/nav.ejs') %>
<main>
<div class="container-md my-3 pt-3">
    <div class="col">
        <div class="row mb-4">
            <h1 class="mx-3">Wyszukaj książki</h1>
        </div>
            <form method="get" class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons md-auto">search</i></span>
                <input id="search-input" type="text" class="form-control form-control-lg" placeholder="Wyszukiwanie..." aria-label="search" aria-describedby="basic-addon1">
            </div>
            </form>
        <div class="d-flex justify-content-center flex-wrap my-3 gap-3" id="search-listing">

            </div>
        </div>
    </div>
</main>


<%- include('./components/footer.ejs') %>
<%- include('./components/scripts.ejs') %>
<script src="/javascripts/search.js"></script>
</body>
</html>