nav ul a,
nav .brand-logo {
    color: #000000DE;
}

nav ul a {
    font-size: 1.5rem;
}
#nav-mobile ul a {
    font-size: 1.5rem;
}

.sidenav-trigger {
    color: #26a69a;
}

#logo-container {
    letter-spacing: 2px;
    font-weight: bold;
}