#brand-logo {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

#brand-logo-img {
    max-height: 100px;
}


.navbar-bg-body {
    background-color: #e3f2fd;
}

@media only screen and (max-width: 768px) {
    #brand-logo {
        font-size: 3rem;
    }
    #brand-logo-img {
        max-height: 150px;
    }
    nav .nav-link {
        justify-content: flex-start;
        width: 75%;
        margin: 0 auto;
        padding: 5px 5px;
    }
}

nav .nav-link {
    border-radius: 5px;
}
nav .nav-link:hover {
    background-color: #26a69a;
    color: white;

}
