.position-rel-author {
    position: relative;
    left: 40px;

}


.position-abs-edit-btn {
    position: absolute;
    right: 20px;
    bottom:100px;

}

.position-abs-read-btn {
    position: absolute;
    left: 70px;
    bottom:15px;

}